<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DNSEntities" connectionString="metadata=res://*/Entities.DNSModel.csdl|res://*/Entities.DNSModel.ssdl|res://*/Entities.DNSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO\SQLEXPRESS;initial catalog=DNS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DNSEntities1" connectionString="metadata=res://*/Entities.DNSModel1.csdl|res://*/Entities.DNSModel1.ssdl|res://*/Entities.DNSModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO\SQLEXPRESS;initial catalog=DNS;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DNSEntities2" connectionString="metadata=res://*/Entities.DNSModel2.csdl|res://*/Entities.DNSModel2.ssdl|res://*/Entities.DNSModel2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO\SQLEXPRESS;initial catalog=DNS;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DNS1Entities" connectionString="metadata=res://*/Entities.DNSModel3.csdl|res://*/Entities.DNSModel3.ssdl|res://*/Entities.DNSModel3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO\SQLEXPRESS;initial catalog=DNS1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DNSEntities3" connectionString="metadata=res://*/Entities.DNSModel.csdl|res://*/Entities.DNSModel.ssdl|res://*/Entities.DNSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO\SQLEXPRESS;initial catalog=DNS;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DNS1Entities1" connectionString="metadata=res://*/Entities.DNSModel1.csdl|res://*/Entities.DNSModel1.ssdl|res://*/Entities.DNSModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO\SQLEXPRESS;initial catalog=DNS1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DNS1Entities2" connectionString="metadata=res://*/Entities.Model2.csdl|res://*/Entities.Model2.ssdl|res://*/Entities.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=COMP-8\SQLEXPRESS;initial catalog=DNS1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DNS1Entities3" connectionString="metadata=res://*/Entities.Model1.csdl|res://*/Entities.Model1.ssdl|res://*/Entities.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO\SQLEXPRESS;initial catalog=DNS1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DNS1Entities4" connectionString="metadata=res://*/Entities.Model11.csdl|res://*/Entities.Model11.ssdl|res://*/Entities.Model11.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LENOVO\SQLEXPRESS;initial catalog=DNS1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>